<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surveasy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Surveasy">

        <activity
            android:name=".SurveyListDetailResponseActivity"
            android:exported="true" />
        <activity
            android:name=".SurveyListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewSettingActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewSettingPushActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewSettingWithdrawActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewInfoActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewContactActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewInviteActivity"
            android:exported="true" />
        <activity
            android:name=".MyViewNoticeListActivity"
            android:exported="true" />
        <activity
            android:name=".SurveyListActivity"
            android:exported="true"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.Surveasy.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>